.container {
    font-family: "Poppins";
    padding: 1.2rem;
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding-inline: 2rem;
    height: 80vh;
}

.mainContainer_left {
    flex: 0.5;
}

.mainContainer_right {
    flex: 0.5;
}

.mainContainer_right img {
    width: 100%;
    
}

.mainContainer_left > p:nth-child(1) {
    font-size: 2.9rem;
    background: linear-gradient(45deg, #000000, #9d9d9d);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animationHomePageBreathEffect 3s linear infinite;
}

@keyframes animationHomePageBreathEffect {
    from {
        background: -webkit-linear-gradient(45deg, #000000, #9d9d9d);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    to {
        background: -webkit-linear-gradient(45deg, #9d9d9d, #000000 );
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.mainContainer_left > p:nth-child(2) {
    color: #4d4d4d;
    font-size: 1.7rem;
}

.mainContainer_left > div.buttonJoin {
    width: fit-content;
    cursor: pointer;
    transition: all 0.2s;
    margin-top: 0.8rem;
    font-size: 1.4rem;
    background-color: rgb(197, 44, 208);
    color: white;
    padding-inline: 1.2rem;
    padding-block: 0.6rem;
    border-radius: 20px;
}

@media screen and (max-width: 600px) {
    .mainContainer {
        flex-direction: column;
        gap: 2rem;
        padding-top: 1.4rem;
    }

    .mainContainer_left {
        flex: 1;
        padding-top: 1.5rem;
    }

    .mainContainer_right {
        flex: 1;
    }

    .mainContainer_right img {
        width: 100%;
    }
}